<!DOCTYPE html>

<html>
    <head>
        <title>Reset Your Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Reset Your Password</h2>
        <p>Hi {{firstname}} {{lastname}},
        <!-- You have requested a password reset on {{date}}. -->
        To reset your password, please click the following link <a href="{{link}}">{{link}}</a></p>
        <!-- <p>If you have not requested this change, please ignore this message</p> -->
    </body>
</html>
